<template>
  <div class="view">
    <h4>Welche Daten möchten Sie teilen?</h4>
    <el-form ref="form" label-width="120px" label-position="left">
      <el-form-item label="Daten-Kategorie">
        <el-select v-model="selectedCategory" placeholder="Auswählen">
          <el-option v-for="(category, index) in categories" :key="'cat' + index" :label="category" :value="category">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Datum der Daten">
        <el-date-picker
          v-model="dateString"
          type="date"
          style="width: 300px"
          placeholder="Datum wählen"
          value-format="yyyyMMdd"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="">
        <el-button class="form-button" @click="share()">Teilen</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {ErrorsModule} from '@/store/modules/errors'
import {uport} from '@/uport'

const requestId = 'bank_share_id'

@Component
export default class Bank extends Vue {
  stakeholderName: string = 'Bank'
  categories: string[] = ['Rechnung', 'Kontoauszug']

  selectedCategory: string = ''
  dateString: string = ''

  get claimIdentifier() {
    return this.selectedCategory + '_' + this.dateString
  }

  share() {
    const reqObj = {verified: [this.claimIdentifier]}
    uport.requestDisclosure(reqObj, requestId)
    uport.onResponse(requestId).then((res) => {
      if (res.payload.verified[0]) {
        const verfiedClaim = res.payload.verified[0].claim
        this.$router.push({
          name: 'success',
          params: {
            claimValue: verfiedClaim[this.claimIdentifier],
            category: this.selectedCategory,
            date: this.dateString
          }
        })
      } else {
        ErrorsModule.addError(`Sie besitzen keinen Claim mit der ID ${this.selectedCategory}_${this.dateString}`)
        this.$router.push({path: this.$route.path})
      }
    })
  }
}
</script>
