<template>
  <el-menu
    default-active="3"
    :collapse="isCollapsed"
    :collapse-transition="false"
    class="el-menu-left"
    background-color="#006FB5"
    text-color="#fff"
    active-text-color="#ffd04b"
    router
  >
    <el-menu-item v-if="!isCollapsed" route="/" index="1" @click="collapseLeftMenu()">
      <i class="el-icon-arrow-left"></i>
    </el-menu-item>
    <el-menu-item v-if="isCollapsed" route="/" index="1" @click="collapseLeftMenu()">
      <i class="el-icon-arrow-right"></i>
    </el-menu-item>
    <el-menu-item index="3" route="/">
      <i class="el-icon-s-home"></i>
      <span>Home</span>
    </el-menu-item>
    <el-menu-item index="4" route="/bezueger" v-if="isLoggedIn">
      <i class="el-icon-mobile-phone"></i>
      <span>Sozialhilfebezüger</span>
    </el-menu-item>
    <el-menu-item index="5" route="/arzt" v-if="isLoggedIn">
      <i class="el-icon-view"></i>
      <span>Arzt</span>
    </el-menu-item>
    <el-menu-item index="6" route="/bank" v-if="isLoggedIn">
      <i class="el-icon-tickets"></i>
      <span>Bank</span>
    </el-menu-item>
  </el-menu>
</template>

<script lang="ts">
import {Component, Vue, Prop, Emit} from 'vue-property-decorator'
import {UportUserModule} from '@/store/modules/uportUserModule'

@Component({
  components: {}
})
export default class LeftMenu extends Vue {
  isCollapsed: boolean = false

  @Emit()
  collapseLeftMenu() {
    this.isCollapsed = !this.isCollapsed
  }

  get isLoggedIn() {
    return UportUserModule.isloggedIn
  }
}
</script>

<style>
.el-menu-left {
  text-align: left;
}
</style>
