<template>
  <div class="view">
    <Content :stakeholder="stakeholderName" anrede="Liebe" :categories="categories"/>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import Content from '@/components/Content.vue'

@Component({
  components: {
    Content
  }
})
export default class Bank extends Vue {
  stakeholderName: string = 'Bank'
  categories: string[] = ['Rechnung', 'Kontoauszug']
}
</script>
