<template>
  <div class="view">
    <Content :stakeholder="stakeholderName" anrede="Lieber" :categories="categories"/>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import Content from '@/components/Content.vue'

@Component({
  components: {
    Content
  }
})
export default class Bezueger extends Vue {
  stakeholderName: string = 'Sozialhilfebezüger'
  categories: string[] = ['Anmeldung', 'Formular']
}
</script>
