<template>
  <div v-if="hasErrors">
    <el-alert
      v-for="(error, index) in errors"
      :key="'error_' + index"
      :title="error"
      type="error"
      effect="dark"
      @close="removeError(index)"
    >
    </el-alert>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {ErrorsModule} from '@/store/modules/errors'

@Component
export default class ErrorBox extends Vue {
  get errors(): string[] {
    return ErrorsModule.errors
  }

  get hasErrors(): boolean {
    return ErrorsModule.hasErrors
  }

  removeError(index: number) {
    ErrorsModule.removeError(index)
  }
}
</script>
