<template>
  <div class="view">
    <h1>Ihre uPort Account Daten</h1>
    <el-form :model="registration" label-width="200px" label-position="top" style="width: 800px" disabled>
      <el-form-item label="Anrede" prop="salutation">
        <el-select v-model="registration.salutation" placeholder="Anrede">
          <el-option label="Herr" value="mr"></el-option>
          <el-option label="Frau" value="mrs"></el-option>
          <el-option label="Divers" value="divers"></el-option>
        </el-select>
      </el-form-item>
      <el-col :span="10">
        <el-form-item label="Vorname" prop="firstname">
          <el-input v-model="registration.firstname"></el-input>
        </el-form-item>
      </el-col>
      <el-col class="line" :span="2">.</el-col>
      <el-col :span="12">
        <el-form-item label="Nachname" prop="lastname">
          <el-input v-model="registration.lastname"></el-input>
        </el-form-item>
      </el-col>

      <el-form-item label="Zivilstand" prop="civilStatus">
        <el-input v-model="registration.civilStatus"></el-input>
      </el-form-item>
      <el-col :span="10">
        <el-form-item label="Geburtstag" required>
          <el-form-item prop="birthday">
            <el-date-picker
              type="date"
              placeholder="Geburtstadum wählen"
              v-model="registration.birthday"
              style="width: 100%;"
            ></el-date-picker>
          </el-form-item>
        </el-form-item>
      </el-col>
      <el-col class="line" :span="2">.</el-col>
      <el-col :span="12">
        <el-form-item label="Sozialversicherungs Nummer">
          <el-input v-model="registration.socialNo"></el-input>
        </el-form-item>
      </el-col>

      <el-form-item label="Strasse">
        <el-input v-model="registration.street"></el-input>
      </el-form-item>
      <el-col :span="10">
        <el-form-item label="PLZ">
          <el-input v-model="registration.zip"></el-input>
        </el-form-item>
      </el-col>
      <el-col class="line" :span="2">.</el-col>
      <el-col :span="12">
        <el-form-item label="Ort">
          <el-input v-model="registration.city"></el-input>
        </el-form-item>
      </el-col>

      <el-form-item label="E-Mail Adresse">
        <el-input v-model="registration.email"></el-input>
      </el-form-item>
      <el-col :span="10">
        <el-form-item label="Telefon P">
          <el-input v-model="registration.telPrivate"></el-input>
        </el-form-item>
      </el-col>
      <el-col class="line" :span="2">.</el-col>
      <el-col :span="12">
        <el-form-item label="Telefon M">
          <el-input v-model="registration.telMobile"></el-input>
        </el-form-item>
      </el-col>

      <el-form-item label="Ohne Beschäftigung seit">
        <el-form-item>
          <el-date-picker
            type="date"
            placeholder="Datum wählen"
            v-model="registration.withoutJob"
            style="width: 100%;"
          ></el-date-picker>
        </el-form-item>
      </el-form-item>
      <el-form-item label="Letzter Arbeitgeber">
        <el-input v-model="registration.employer"></el-input>
      </el-form-item>
      <el-form-item label="Letztes Gehalt">
        <el-input v-model="registration.salary" type="number"></el-input>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import ElementUI from 'element-ui'
import {UportUserModule} from '@/store/modules/uportUserModule'
import {Registration} from '@/models'

@Component
export default class Register extends Vue {
  registration: Registration | undefined = undefined

  created() {
    this.registration = UportUserModule.registrationData
  }
}
</script>

<style>
.form-button {
  background-color: #006fb5;
  color: white;
}
</style>
