<template>
  <div class="view">
    <div v-if="isLoggedIn">
      <h2>Willkommen, {{ userName }}</h2>
    </div>
    <div v-if="!isLoggedIn">
      <h3>Melden Sie sich an oder registrieren Sie einen neuen Account</h3>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-card body-style="background-color: #dcdcdc">
            <h4>Mit uPort anmelden</h4>
            <el-button @click="login()">Login</el-button>
            <p>Dazu muss ihr uPort Account registriert sein</p>
          </el-card>
        </el-col>
        <el-col :span="6">
          <el-card body-style="background-color: #dcdcdc">
            <h4>Neuen Account registrieren</h4>
            <el-button @click="register()">Registrieren</el-button>
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {uport} from '@/uport'
import {UportUserModule} from '@/store/modules/uportUserModule'
import router from '../router'
import {ErrorsModule} from '../store/modules/errors'

const loginRequestId = 'LoginRequestId'

@Component
export default class Home extends Vue {
  mounted() {
    console.log('initial uport state')
    console.log(uport.state)
    uport.onResponse(loginRequestId).then((res) => {
      if (res.payload.registration) {
        ErrorsModule.clearAllErrors()
        UportUserModule.setUser({did: res.payload.did, name: res.payload.name})
        UportUserModule.setRegistration(res.payload.registration)
      } else {
        uport.logout()
        ErrorsModule.addError('uPort Account ist noch nicht registriert. Bitte Registrierung vornehmen.')
      }
    })
  }

  login() {
    // TODO request verified sozialamt credentials
    const reqObj = {requested: ['name', 'registration'], notifications: true}
    uport.requestDisclosure(reqObj, loginRequestId)
  }

  register() {
    router.push('/register')
  }

  get isLoggedIn() {
    return UportUserModule.isloggedIn
  }

  get userName() {
    return UportUserModule.user.name
  }
}
</script>
