<template>
  <div class="view">
    <p>Nehmen Sie den Claim auf der uPort Mobile App entgegen.</p>
    <p>Anschliessend können Sie sich unter Home einloggen.</p>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class Success extends Vue {}
</script>

<style></style>
