<template>
  <div class="view">
    <h1>Registration Sozialhilfebezüger</h1>
    <p>Bitte füllen Sie das Formular komplett aus und schicken Sie dies ab.</p>

    <el-form
      :model="registerForm"
      :rules="rules"
      ref="registerForm"
      label-width="200px"
      class="demo-registerForm"
      label-position="top"
      style="width: 800px"
    >
      <el-collapse>
        <el-collapse-item title="Name" name="1">
          <el-form-item label="Anrede" prop="salutation">
            <el-select v-model="registerForm.salutation" placeholder="Anrede">
              <el-option label="Herr" value="mr"></el-option>
              <el-option label="Frau" value="mrs"></el-option>
              <el-option label="Divers" value="divers"></el-option>
            </el-select>
          </el-form-item>
          <el-col :span="10">
            <el-form-item label="Vorname" prop="firstname">
              <el-input v-model="registerForm.firstname"></el-input>
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2">.</el-col>
          <el-col :span="12">
            <el-form-item label="Nachname" prop="lastname">
              <el-input v-model="registerForm.lastname"></el-input>
            </el-form-item>
          </el-col>
        </el-collapse-item>

        <el-collapse-item title="Persönliche Angaben" name="2">
          <el-form-item label="Zivilstand" prop="civilStatus">
            <el-select v-model="registerForm.civilStatus" placeholder="Zivilstand">
              <el-option label="ledig" value="single"></el-option>
              <el-option label="verheiratet" value="married"></el-option>
              <el-option label="geschieden" value="divorced"></el-option>
              <el-option label="verwitwet" value="widowed"></el-option>
            </el-select>
          </el-form-item>
          <el-col :span="10">
            <el-form-item label="Geburtstag" required>
              <el-form-item prop="birthday">
                <el-date-picker
                  type="date"
                  placeholder="Geburtstadum wählen"
                  v-model="registerForm.birthday"
                  style="width: 100%;"
                ></el-date-picker>
              </el-form-item>
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2">.</el-col>
          <el-col :span="12">
            <el-form-item label="Sozialversicherungs Nummer" prop="socialNo">
              <el-input v-model="registerForm.socialNo"></el-input>
            </el-form-item>
          </el-col>
        </el-collapse-item>

        <el-collapse-item title="Postalische Adresse" name="3">
          <el-form-item label="Strasse" prop="street">
            <el-input v-model="registerForm.street"></el-input>
          </el-form-item>
          <el-col :span="10">
            <el-form-item label="PLZ" prop="zip">
              <el-input v-model="registerForm.zip"></el-input>
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2">.</el-col>
          <el-col :span="12">
            <el-form-item label="Ort" prop="city">
              <el-input v-model="registerForm.city"></el-input>
            </el-form-item>
          </el-col>
        </el-collapse-item>

        <el-collapse-item title="Elektronische Adressen" name="4">
          <el-form-item label="E-Mail Adresse" prop="email">
            <el-input v-model="registerForm.email"></el-input>
          </el-form-item>
          <el-col :span="10">
            <el-form-item label="Telefon P" prop="telPrivate">
              <el-input v-model="registerForm.telPrivate"></el-input>
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2">.</el-col>
          <el-col :span="12">
            <el-form-item label="Telefon M" prop="telMobile">
              <el-input v-model="registerForm.telMobile"></el-input>
            </el-form-item>
          </el-col>
        </el-collapse-item>

        <el-collapse-item title="Beruf" name="5">
          <el-form-item label="Ohne Beschäftigung seit" required>
            <el-form-item prop="withoutJob">
              <el-date-picker
                type="date"
                placeholder="Datum wählen"
                v-model="registerForm.withoutJob"
                style="width: 100%;"
              ></el-date-picker>
            </el-form-item>
          </el-form-item>
          <el-form-item label="Letzter Arbeitgeber" prop="employer">
            <el-input v-model="registerForm.employer"></el-input>
          </el-form-item>
          <div class="block">
            <span class="demonstration">Letztes Gehalt</span>
            <el-input v-model="registerForm.salary" type="number"></el-input>
          </div>
        </el-collapse-item>
      </el-collapse>
      <br />
      <el-form-item>
        <el-button class="form-button" @click="register()">Registrieren</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {uport} from '@/uport'
import ElementUI from 'element-ui'
import {UportUserModule} from '@/store/modules/uportUserModule'
import {Registration} from '../models'

const sendRegistrationId = 'Send_Registration_Id'
const requestDisclosureId = 'Request_Dicslosure_Id'

@Component
export default class Register extends Vue {
  registerForm: Registration = {
    salutation: '',
    firstname: '',
    lastname: '',
    civilStatus: '',
    birthday: undefined,
    socialNo: '',
    street: '',
    zip: '',
    city: '',
    email: '',
    telPrivate: '',
    telMobile: '',
    withoutJob: undefined,
    employer: '',
    salary: undefined
  }
  rules = {
    salutation: [{required: true, message: 'Bitte eine Anrede auswählen', trigger: 'change'}],
    firstname: [{required: true, message: 'Bitte Vornamen eingeben', trigger: 'blur'}],
    lastname: [{required: true, message: 'Bitte Nachnamen eingeben', trigger: 'blur'}],
    civilStatus: [{required: true, message: 'Bitte Zivilstand auswählen', trigger: 'change'}],
    birthday: [{required: true, type: 'date', message: 'Bitte Geburtstagsdatum eingeben', trigger: 'change'}],
    socialNo: [{required: true, message: 'Bitte Sozialversicherungs Nummer eingeben', trigger: 'blur'}],
    street: [{required: true, message: 'Bitte Strasse eingeben', trigger: 'blur'}],
    zip: [{required: true, message: 'Bitte PLZ eingeben', trigger: 'blur'}],
    city: [{required: true, message: 'Bitte Ortschaft eingeben', trigger: 'blur'}],
    email: [{required: true, message: 'Bitte E-Mailadresse eingeben', trigger: 'blur'}],
    telMobile: [{required: true, message: 'Bitte Mobile Nummer eingeben', trigger: 'blur'}],
    telPrivate: [{required: true, message: 'Bitte Private Telefonnummer eingeben', trigger: 'blur'}],
    withoutJob: [{required: true, type: 'date', message: 'Bitte Datum eingeben', trigger: 'change'}],
    employer: [{required: true, message: 'Bitte letzten Arbeitgeber eingeben', trigger: 'blur'}],
    salary: [{required: true, message: 'Bitte letztes Gehalt eingeben', trigger: 'blur'}]
  }

  register() {
    if (this.isFormValid()) {
      const sendOpts = {notification: true}
      const claim = {}
      const claimName = 'registration'
      claim[claimName] = this.registerForm
      // request did to know who to send a verification
      uport.requestDisclosure({}, requestDisclosureId)
      // when did is returned, send the registration verification
      uport.onResponse(requestDisclosureId).then((res) => {
        uport.sendVerification(
          {
            exp: Math.floor(new Date().getTime() / 1000) + 30 * 24 * 60 * 60,
            claim,
            sendOpts
          },
          sendRegistrationId
        )
        uport.onResponse(sendRegistrationId).then((result) => {
          // the uport popup does not close
          // same as in the demo
          this.$router.push({path: '/registersuccess'})
        })
      })
    }
  }

  isFormValid(): boolean {
    let validationSuccess = false;
    (this.$refs.registerForm as ElementUI.Form).validate((success: boolean) => {
      validationSuccess = success
    })
    return validationSuccess
  }
}
</script>

<style>
.form-button {
  background-color: #006fb5;
  color: white;
}
</style>
