<template>
  <div class="view">
    <div v-if="isLoggedIn">
      <el-tabs>
        <el-tab-pane label="Sozialhilfebezüger">
          <Bezueger />
        </el-tab-pane>
        <el-tab-pane label="Bank">
          <Bank />
        </el-tab-pane>
        <el-tab-pane label="Arzt">
          <Arzt />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {uport} from '@/uport'
import {UportUserModule} from '@/store/modules/uportUserModule'
import Arzt from '@/components/share/Arzt.vue'
import Bank from '@/components/share/Bank.vue'
import Bezueger from '@/components/share/Sozialhilfebezueger.vue'

@Component({
  components: {
    Arzt,
    Bank,
    Bezueger
  }
})
export default class Share extends Vue {
  get isLoggedIn() {
    return UportUserModule.isloggedIn
  }
}
</script>
