<template>
  <div class="view" v-if="claimValue">
    <p>Claim der Kategorie {{ category }} vom {{ date }} erhalten</p>
    <el-button @click="download()">herunterladen</el-button>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class Success extends Vue {
  @Prop(String) claimValue
  @Prop(String) category
  @Prop(String) date

  download() {
    window.open(this.claimValue, '_blank')
  }
}
</script>

<style></style>
