<template>
  <div class="view">
    <div v-if="isLoggedIn">
      <h2>Willkommen, {{ userName }}</h2>
      <el-button @click="logout()">Logout</el-button>
    </div>
    <div v-if="!isLoggedIn">
      <h3>Bitte loggen Sie sich ein</h3>
      <el-button @click="login()">Login</el-button>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {uport} from '@/uport'
import {UportUserModule} from '@/store/modules/uportUserModule'

const loginRequestId = 'LoginRequestId'

@Component
export default class Home extends Vue {

  mounted() {
    uport.onResponse(loginRequestId).then((res) => {
      UportUserModule.setUser({did: res.payload.did, name: res.payload.name})
    })
  }

  login() {
    // TODO request verified sozialamt credentials
    const reqObj = {requested: ['name'], notifications: true}
    uport.requestDisclosure(reqObj, loginRequestId)
  }

  logout() {
    uport.logout()
    UportUserModule.logout()
  }

  get isLoggedIn() {
    return UportUserModule.isloggedIn
  }

  get userName() {
    return UportUserModule.user.name
  }
}
</script>

<style></style>
