<template>
  <div class="view">
    <h1>Success</h1>
    <h4>{{message}}</h4>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'

@Component
export default class Success extends Vue {

  @Prop(String) message
}
</script>

<style></style>
