<template>
  <div id="app">
    <el-container>
      <el-header class="color-background header">
        <img src="@/assets/kanton_zug.gif" />
        <h1>Sozialamt des Kantons Zugs</h1>
        <h4>Sozialamt Portal</h4>
      </el-header>
    </el-container>
    <el-container>
      <el-container>
        <TopMenu />
        <ErrorBox />
        <router-view />
        <el-footer class="dark-background footer">
          <h6>© HSLU | Bissig, Herger, Wälchli, Zürcher</h6>
        </el-footer>
      </el-container>
    </el-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import TopMenu from './components/navigation/TopMenu.vue'
import ErrorBox from './components/ErrorBox.vue'
import {uport} from '@/uport'

@Component({
  components: {
    TopMenu,
    ErrorBox
  }
})
export default class App extends Vue {
  mounted() {
    // reset on page reload
    // otherise, uport keeps state so user is still logged in after server restart
    // this is only a workaround solution for the prototype
    uport.logout()
  }
}
</script>

<style>
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
.color-background {
  background-color: #dcdcdc;
}
.dark-background {
  background-color: #006fb5;
}
.header {
  margin-bottom: 4px;
  height: 200px !important;
  color: #000000;
  text-align: left;
}
.footer {
  color: #fff;
  margin-top: 20px;
}

.view {
  padding: 0.5em 0.5em;
}
</style>
