<template>
  <el-menu
    class="el-menu-demo"
    mode="horizontal"
    :router="true"
    background-color="#006fb5"
    text-color="#fff"
    active-text-color="#ffd04b"
  >
    <el-menu-item index="0" route="/">Home</el-menu-item>
    <el-menu-item index="1" route="/share" v-if="isLoggedIn">Teilen</el-menu-item>
    <el-menu-item index="2" route="/account" v-if="isLoggedIn">Account</el-menu-item>
    <el-menu-item-group align="right" style="margin-right: 15px;">
      <el-button size="small" v-if="isLoggedIn" @click="logout()">Logout</el-button>
    </el-menu-item-group>
  </el-menu>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'
import {UportUserModule} from '../../store/modules/uportUserModule'
import {ErrorsModule} from '@/store/modules/errors'
import {uport} from '@/uport'

@Component
export default class TopMenu extends Vue {
  @Prop(Array) menuItems!: object[]
  @Prop(Boolean) enableLogoutBtn!: boolean

  logout() {
    ErrorsModule.clearAllErrors()
    uport.logout()
    UportUserModule.logout()
    this.$router.push({path: '/'})
  }

  get isLoggedIn() {
    return UportUserModule.isloggedIn
  }
}
</script>

<style></style>
