<template>
  <div class="view">
    <h3>{{ stakeholder }}</h3>

    <p>
      {{ anrede }} {{ stakeholder }}<br />
      Herzlich Willkommen auf dem uPort Dokumenten-Portal.
    </p>
    <div>
      Folgende Schritte müssen durchgeführt werden:
      <ol>
        <li>Wählen Sie die gewünschte Kategorie aus.</li>
        <li>Ziehen Sie die gewünschte Datei in das erscheinende Drag and Drop Fenster.</li>
        <li>Öffnen Sie uPort auf Ihrem Mobile-Phone</li>
        <li>Fotografieren Sie den erstellten QR-Code.</li>
      </ol>
    </div>

    <el-select v-model="category">
      <el-option v-for="(item, index) in categories" :key="index" :value="item" :label="item" />
    </el-select>
    <br />
    <br />
    <File-Pond
      v-if="category"
      ref="pond"
      :server="{
        process: (fieldName, file, metadata, load, error, progress, abort) => {
          uploadFile(file, metadata, load, error, progress, abort)
        }
      }"
    />
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator'
import vueFilePond from 'vue-filepond'
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import {singleUpload, deleteObjectByKey, createUrl} from '@/aws/'
import {uport} from '@/uport'

const FilePond = vueFilePond(FilePondPluginFileValidateType, FilePondPluginImagePreview)
const requestId = 'Send_Verification_Id'

@Component
export default class Content extends Vue {
  @Prop() stakeholder!: string
  @Prop() anrede!: string
  @Prop() categories!: string[]

  fileKey: string = ''
  fileName: string = ''
  signedUrl: string = ''
  category: string = ''

  get fileKeyForClaim() {
    return this.fileKey
  }

  async uploadFile(file, metadata, load, error, progress, abort) {
    try {
      const result = await singleUpload(file, this.category)
      load(file) // Let FilePond know the processing is done
      this.fileName = result.fileName
      this.signedUrl = await createUrl(result.fileKey)

      const claim = {}
      claim[this.fileName] = this.signedUrl
      uport.sendVerification({
        exp: Math.floor(new Date().getTime() / 1000) + 30 * 24 * 60 * 60,
        claim
      }, requestId)
      uport.onResponse(requestId).then((res) => {
        console.log(res)
        this.$router.push({name: 'success', params: {
          message: 'Neuer Claim mit Kategorie ' + this.category + ' hochgeladen.'
        }})
      })
    } catch (error) {
      error() // Let FilePond know the upload was unsuccessful
    }
    return {
      abort: () => {
        // This function is entered if the user has tapped the cancel button
        // Let FilePond know the request has been cancelled
        abort()
      }
    }
  }
  // TODO how to close the QR code?
  // same problem in demo code:
  // https://github.com/uport-project/demo/blob/master/src/components/CollectCredentials.js#L70
}
</script>

<style></style>
